.Header {
  margin: 0;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 10px;
  align-items: center;
}

.Header-logo-section {
  width: 30%;
  display: flex;
  align-items: center;
}

.header-logo {
  height: 50px;
  width: auto;
}

.header-links {
  color: white;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.header-link {
  padding-left: 10px;
  padding-right: 10px;
}

.header-apply {
  color: white;
  width: 30%;
  display: flex;
  justify-content: right;
}

.header-apply-button {
  background: rgba(92, 92, 92, 0.2);
  border-radius: 5px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .Header {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
}