body {
  margin: 0;
  font-family: "Satoshi";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #09080C;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url(./assets/Satoshi-Variable.ttf) format('ttf');
}

@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'), url(./assets/Satoshi-Variable.ttf) format('woff');
}